* {
	padding: 0;
	margin: 0;
}
body {
	font-family: Arial;
	display: flex;
	align-items: center;
	justify-content: center;
}
#wrapper {
	width: 1280px;
	max-width: 1280px;
	box-sizing: border-box;
	padding: 10px;
}
.wrapper__box {
	background-color: #fff;
	display: flex;
	justify-content: space-between;
}
.wrapper__box__item {	
	width: 300px;
	height: 250px;
	background-color: #dedede;
	border: 1px solid #333;
	position: relative;
}
.wrapper__box__logo {
	position: absolute;
	top: 10px;
	left: 10px;
}
.wrapper__box__content {
	z-index: 9;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 55px;
}
.wrapper__box__item--item1 .wrapper__box__content {
	padding-bottom: 40px;
}
.wrapper__box__item--item4 .wrapper__box__content {
	padding-bottom: 20px;
}
.wrapper__box__content a {
	background-color: #616161;
	color: #FFF;
	text-transform: uppercase;
}
.wrapper__box__content p {
	text-transform: uppercase;
	color: #818181;
	font-size: 30px;
	text-align: center;
}
.wrapper__box__content span {
	text-transform: uppercase;
	color: #818181;
	font-size: 30px;
	font-weight: 700;
}
.wrapper__box__btn {
	text-align: center;
}
.wrapper__box__btn a {
	display: block;
	text-decoration: none;
	margin-top: 7px;
	padding: 5px 15px;
}
@keyframes fadeInOut {
	0%, 100% {
		opacity: 0;
		transform: scale(0.1);
	}
	50% {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.wrapper__box__item--item1 p{
	animation: fadeInOut 2s linear forwards;
	animation-duration: 4s;
	animation-delay: 1s;
	animation-fill-mode: both;
}
.wrapper__box__item--item2 p{
	animation: fadeIn 2s linear;
	animation-delay: 2s;
	animation-fill-mode: both;
}
.wrapper__box__item--item3 p{
	animation: fadeIn 2s linear;
	animation-delay: 3s;
	animation-fill-mode: both;
}
.wrapper__box__item--item4 p{
	animation: fadeIn 2s linear;
	animation-delay: 4s;
	animation-fill-mode: both;
}
.wrapper__box__item--item4 .btn{
	animation: fadeIn 2s linear;
	animation-delay: 4s;
	animation-fill-mode: both;
}
.wrapper__box__item--item2 span{
	animation: fadeTopBottom .5s linear;
	animation-delay: 2s;
	animation-fill-mode: both;
}
.wrapper__box__item--item3 span{
	animation: fadeTopBottom .5s linear;
	animation-delay: 3s;
	animation-fill-mode: both;
}
@keyframes fadeTopBottom {
    0% {
        opacity: 0;
        transform: translateY(-150px);
    }   
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}